#general{
    margin: 0px auto
}

.boton {
border: 1px solid #2e518b;
padding: 10px; 
background-color: #004d00; 
color: #ffffff; 
text-decoration: none; 
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif;
border-radius: 50px; 
}

#datos {
float: right;
margin-right: 100px
    
};

#imagen {
float: left;
margin-left: 100px;
width: 500    
};