body{
background-image: url(../imagenes/fondo-web-verde.jpg)    
}
#general{
    margin: 100px auto;
    width: 100%;
      
}

.boton {
border: 1px solid #2e518b;
padding: 10px; 
background-color: #004d00; 
color: #ffffff; 
text-decoration: none; 
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif;
border-radius: 50px; 
}


#datos {
margin-top: 100px;    
float: right;
margin-right: 100px
    
}

#imagen {
float: left;
margin-left: 100px;
width: 500px;   
}

table, th, td {
   margin: 0px auto;   
   border: 1px solid black;
   text-align: left;
   background-color: #003311;
   color: white;    
}